<html>
<head>
	
	<title>Quick Start - Leaflet</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>


	
</head>
<body>

<div id="map" style="width: 600px; height: 400px;";>

    <script>
        var map = L.map('map', {
            center: [37.0902, -95.7129], // US
            zoom: 5
        });

        var defaultBase = L.tileLayer.provider('Esri.WorldImagery').addTo(map);

        var baseLayers = {
            'ESRI Imagery': defaultBase,
            'ESRI Ocean Basemap': L.tileLayer.provider('Esri.OceanBasemap'),
            'Stamen Toner': L.tileLayer.provider('Stamen.TonerLite'),
            'USGS TNM': L.tileLayer.provider('USGSTNM'),
            'OSM Topo': L.tileLayer.provider('OpenTopoMap')
        };

        //ESRI ArcGIS layers from Hawaii GIS Program; dynamic layer example
        //Using a relative url to call layer instead of http
        var WaterQualSites = L.esri.dynamicMapLayer({
            url: '//geodata.hawaii.gov/arcgis/rest/services/HumanHealthSafety/MapServer',
            layers: [2],
            useCors: false
        });

        //add popup to Water quality sites dynamic map layer
        WaterQualSites.bindPopup(function(error, featureCollection) {
            if (error || featureCollection.features.length === 0) {
                return false;
            } else {
                return 'Name: ' + featureCollection.features[0].properties.name + '<br>' + 'ID: ' + featureCollection.features[0].properties.identifier;
            }
        });

        //ESRI ArcGIS layers from Hawaii GIS Program; polygon feature layer example
        //Using a relative url to call layer instead of http
        var AgBaseline = L.esri.featureLayer({
            url: '//geodata.hawaii.gov/arcgis/rest/services/LandUseLandCover/MapServer/4',
            style: function(feature) {
                return {
                    fillOpacity: 0.5
                }
            }
        });

        //add popup to AgBaseline feature layer
        AgBaseline.bindPopup(function(evt) {
            return L.Util.template('<p>{cropcatego}<br>{island}</p>', evt.feature.properties);
        });

        //ESRI ArcGIS layers from Hawaii GIS Program; line feature layer example; can override the styling
        //Using a relative url to call layer
        var Trails = L.esri.featureLayer({
            url: '//geodata.hawaii.gov/arcgis/rest/services/Terrestrial/MapServer/34',
            style: function(feature) {
                return {
                    color: '#328000',
                    weight: 2
                }
            }
        });

        //PacIOOS GeoServer Example; adding a single layer with properties
        //Using a relative url to call layer instead of http
        var EconSeaLevRise = L.tileLayer.wms('http://geo.pacioos.hawaii.edu/geoserver/wms?', {
            layers: 'PACIOOS:hi_tt_all_slrxa_econ_2030',
            format: 'image/png',
            opacity: 0.5,
            tiled: 'true'
        });

        //Another example using PacIOOS GeoServer examples; setting properties first then add layers
        var options = {
            transparent: 'true',
            format: 'image/png',
            opacity: 0.5,
            tiled: 'true'
            //info_format: 'text/html'
        };

        //Using a relative url to call layer instead of http
        var source = L.WMS.source('http://geo.pacioos.hawaii.edu/geoserver/wms?', options);
        var CREDREASites = source.getLayer('PACIOOS:hi_cred_all_rea_sites');
        var VegShoreline = source.getLayer('PACIOOS:hi_hcgg_all_shore_veg');

        //Load OSM Buildings then disable it on first load; can only be viewed at certain scales
        var osmb = new OSMBuildings(map).load();
        map.removeLayer(osmb);

        //Overlay grouped layers
        var groupOverLays = {
            "Hawaii State GIS": {
                "Water Quality Monitoring Sites": WaterQualSites,
                "Na Ala Hele Trails": Trails,
                "Agricultural Baseline": AgBaseline
            },

            "PacIOOS Layers": {
                "Economic Loss from Sea Level Rise (0.5ft) ": EconSeaLevRise,
                "CRED REA Sites": CREDREASites,
                "Vegetation Shoreline": VegShoreline
            },

            "OSM Bldg Classic": {
                "2.5D Buildings": osmb
            }
        };

        //add layer switch control
        L.control.groupedLayers(baseLayers, groupOverLays).addTo(map);


        //add scale bar to map
        L.control.scale({
            position: 'bottomleft'
        }).addTo(map);

        // Overview mini map
        var Esri_WorldTopoMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: '&copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
        });

        var miniMap = new L.Control.MiniMap(Esri_WorldTopoMap, {
            toggleDisplay: true,
            minimized: false,
            position: 'bottomleft'
        }).addTo(map);

        //define Drawing toolbar options
      /*  var options = {
            position: 'topleft', // toolbar position, options are 'topleft', 'topright', 'bottomleft', 'bottomright'
            drawMarker: trued, // adds button to draw markers
            drawPolyline: true, // adds button to draw a polyline
            drawRectangle: true, // adds button to draw a rectangle
            drawPolygon: true, // adds button to draw a polygon
            drawCircle: true, // adds button to draw a cricle
            cutPolygon: true, // adds button to cut a hole in a polygon
            editMode: true, // adds button to toggle edit mode for all layers
            removalMode: true, // adds a button to remove layers
        };*/

        // add leaflet.pm controls to the map
        //Logo position: bottomright

    </script>
    </div>
</body>